html, body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
}

.jumbotron {
  text-align: center;
  font-size: 2em;
}


.clock {
  margin-top: 35%;
  margin-left: 5%;
  color: white;
}

#time {
  font-size: 6em;
}

#date {
  font-size: 3em;
}
