html, body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: black;
}

.container {
  margin: auto;
  width: 95%;
}

.jumbotron {
  text-align: center;
  font-size: 40px;
}

.clock {
  color: white;
  margin-top: 230px;
}

#time {
  font-size: 50px;
}

#date {
  font-size: 30px;
}

canvas {
  position: fixed;
  top: 0px;
  border: 1px solid blue;
}
