
html, body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
}
.container {
  margin: auto;
  width: 95%;
}

.jumbotron {
  text-align: left;
}
.jumbotron h1 {
  font-size: 20px;
}

#weather {
  color: white;
  width: 200px;
  text-align: center;
  position: fixed;
  left: 400px;
  top: 0;
}
#weather h2 {
  margin: 10px 0 0;
  padding: 0;
}
#weather ul {
  list-style-type: none;

  padding: 0;
  margin: 0;
}
#weather li {
  display: inline-block;
  margin: 0 10px;
}

.clock {
  color: white;
  margin-top: 230px;
}
#time {
  font-size: 50px;
}
#date {
  font-size: 30px;
}

canvas {
  position: fixed;
  top: 0px;
  border: 1px solid blue;
}
